/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * TwentyFourSeven implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * twentyfourseven.css
 *
 * TwentyFourSeven stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (twentyfourseven_twentyfourseven.tpl), and to HTML elements you create dynamically
    (in twentyfourseven.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/
#board {
    width: 740px;
    height: 958px;
    position: relative;
    background-image: url('img/board.jpg');
}

#tf7_player {
    background-color: rgba(255, 255, 255, .25);
    margin-top: 10px;
    padding: 10px 0px;
    width: 740px;
    position: relative;
}

.space {
    width: 75px;
    height: 105px;
    position: absolute;
}

.tile {
    width: 75px;
    height: 105px;
    position: absolute;
    background-image: url('img/tiles.png');
}
.tile_1  { background-position:    0px    0px;   }
.tile_2  { background-position:  -75px    0px;   }
.tile_3  { background-position: -150px    0px;   }
.tile_4  { background-position: -225px    0px;   }
.tile_5  { background-position: -300px    0px;   }
.tile_6  { background-position:    0px -105px;   }
.tile_7  { background-position:  -75px -105px;   }
.tile_8  { background-position: -150px -105px;   }
.tile_9  { background-position: -225px -105px;   }
.tile_10 { background-position: -300px -105px;   }

.stone {
    width: 75px;
    height: 105px;
    position: absolute;
    background-image: url('img/stone.png');
}

.playableSpace {
    background-color: rgba(160,82,45,.35);
    cursor: pointer;
    border: 5px solid sienna;
    width: 65px;
    height: 95px;
}
